@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 60px 0 0;
    color: #ddd;
    font-family: 'Raleway', sans-serif;
    background-image: url('../img/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 1.2em;
    line-height: 1.5;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: rgba(204, 204, 204, 0.8);
    margin: 1em;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 5px 5px 3px #401C07;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: rgba(204, 204, 204, 0.8);
    margin: 2em;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 5px 5px 3px #401C07;
}

.button-group {
    width: 180px;
    align-content: center;
    align-items: center;
    text-align: center;
}

button {
    font-family: 'Mukta', sans-serif;
    padding: 5px 15px;
    width: 130px;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.1s ease;
}

button:hover {
    transform: scale(1.03);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.go-btn {
    background-color: #44BF4D;
}

.ren-btn {
    background-color: #D89924;
}

.del-btn {
    background-color: #BF4439;
}

table, .container {
    margin: auto;
    justify-content: center;
    justify-items: center;
}

.container {
    margin-top: 60px;
    text-align: center;
    background-color: rgba(62, 33, 22, 0.5);
    border-radius: 20px;
    width: 50%;
    padding: 20px 50px 50px 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

th {
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-left: 10px;
}

/*tr th:nth-child(4) {
    width: 300px;
}

tr th:nth-child(1) {
    width: 100px;
}

tr th:nth-child(2) {
    width: 100px;
}

tr th:nth-child(3) {
    width: 100px;
} */

table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-bottom: none;
    border-top: none;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}

a {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2em;
    font-weight: bold;
    text-underline: none;
    text-decoration: none;
    color:orange;
}


.custom-select {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-wrapper {
    display: flex;
    position: relative;
}

.select-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    width: 150px;
    z-index: 1;
}

select option {
    color: black;

}

.select-arrow {
    content: "";
    position: absolute;
    right: 160px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
    pointer-events: none;
    z-index: 0;
    transform: rotate(90deg);
    transform-origin: top left;
    transition: transform 0.3s ease-in-out;
}

.select-arrow:not(:hover) {
    transform: none;
}

.select-arrow:hover {
    transform: rotate(90deg);
    transform-origin: top left;
}

#select-arrow-1 {
    right: 160px;
}

#select-arrow-2 {
    right: 10px;
}

.add-btn {
    background-color: #2D736C;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 20px;
    margin-left: 10px;
}

.add-btn:hover {
    background-color: #7688A6;
}

select:focus {
    outline: none;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.6);
    overflow: auto;
    text-align: center;
}

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
}

