<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="|Room no.${room.getId}|"></title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>RoomID</th>
        <th>Residents</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${room.getId()}">###</td>
        <td>
            <span th:if="${room.getStudents().isEmpty()}">vacant</span>
            <span th:unless="${room.getStudents().isEmpty()}" th:each="student:${room.getStudents()}" th:text="|${student.getName()}, |"></span>
        </td>
        <td>
            <form action="" th:action="@{'/rooms/{id}'(id=${room.getId()})}" th:method="delete" >
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>