<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">

    <table>
        <thead>
        <tr>
            <th>RoomID</th>
            <th>House</th>
            <th>Condition</th>
            <th>Residents</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room:${rooms}">
            <td th:text="${room.getId()}?:'###'"></td>
            <td th:text="${room.getHouseType()}?:'###'"></td>
            <td th:text="${room.getRoomCondition()?:'####'}"></td>
            <td>
                <span th:if="${room.getStudents().isEmpty()}">vacant</span>
                <span th:unless="${room.getStudents().isEmpty()}" th:each="student:${room.getStudents()}"
                      th:text="|${student.getName()}, |"></span>
            </td>
            <td>
                <div class="button-group">
                    <form th:action="@{'/rooms/{id}'(id=${room.getId()})}" th:method="get">
                        <button class="go-btn" type="submit">Go to</button>
                    </form>
                    <form th:action="@{'/rooms/{id}'(id=${room.getId()})}" th:method="put">
                        <button class="ren-btn" type="submit">Renovate</button>
                    </form>
                    <form th:action="@{'/rooms/{id}'(id=${room.getId()})}" th:method="delete">
                        <button class="del-btn" type="submit">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <form class="custom-select" method="post">
        <div class="select-wrapper">
            <select name="houseType" id="houseType">
                <option value="GRYFFINDOR">Gryffindor</option>
                <option value="HUFFLEPUFF">Hufflepuff</option>
                <option value="RAVENCLAW">Ravenclaw</option>
                <option value="SLYTHERIN">Slytherin</option>
            </select>
            <div class="select-arrow" id="select-arrow-1"></div>
            <select class="custom-select" name="roomCondition" id="roomCondition">
                <option value="RENOVATED">renovated</option>
                <option value="MESSY">messy</option>
                <option value="OLD">old</option>
                <option value="UGLY">ugly</option>
            </select>
            <div class="select-arrow" id="select-arrow-2"></div>
        </div>
        <button class="add-btn" type="submit">Add Room</button>
    </form>
    <div>
        <p><a href="/rooms/available">Available rooms</a></p>
        <p><a href="/rooms/rat-owners">rooms for rat owners</a></p>
    </div>
</div>
</body>
</html>